<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bubbles">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
   <nav class="navbar">
<ul class="nav-links">
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('projects') }}">Projects</a></li>
<li><a href="{{ url_for('education') }}">education</a></li>
<li><a href="{{ url_for('skills') }}">skills</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
</nav>
    </ul>
</nav>

<section id="contact">

<h2 class="contact-title">Contact Me</h2>

<div class="contact-container">

<a href="https://www.linkedin.com/in/lahari-sri-medisetti-52b6b9327/" target="_blank" class="contact-card">
🔗 LinkedIn
</a>

<a href="https://github.com/Laharisri22" target="_blank" class="contact-card">
💻 GitHub
</a>

<a href="mailto:medisettilaharisrisaiakshaya@gmail.com" target="_blank" class="contact-card">
    📧 Email
</a>


</div>

</section>
</body>

</html>