<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bubbles">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
   <nav class="navbar">
<ul class="nav-links">
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('projects') }}">Projects</a></li>
<li><a href="{{ url_for('education') }}">education</a></li>
<li><a href="{{ url_for('skills') }}">skills</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
</nav>
    </ul>
</nav>

<section id="education">

<h2 class="edu-title">Education</h2>

<div class="education-container">

<div class="edu-card">
<h3>🏫Narayana School</h3>
<p>stateboard</p>
<p>2020 – 2021</p>
<p>Percentage: 90%</p>
</div>

<div class="edu-card">
<h3>🏫Aditya College</h3>
<p>MPC</p>
<p>2021 – 2024</p>
<p>Percentage: 90%</p>
</div>

<div class="edu-card">
<h3>🎓Marwadi University</h3>
<p>2024 – 2028</p>
<p>B.Tech-cse-ai&ml(Currently Studying)</p>
<p>Percentage: 90%</p>
</div>

</div>

</section>
</body>

</html>