<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bubbles">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
   <nav class="navbar">
<ul class="nav-links">
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('projects') }}">Projects</a></li>
<li><a href="{{ url_for('education') }}">education</a></li>
<li><a href="{{ url_for('skills') }}">skills</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
</nav>
    </ul>
</nav>

<section class="hero">

    <h1 class="hero-title">Welcome to My Portfolio</h1>

    <a href="{{ url_for('projects') }}" class="explore-btn">
        Explore My Work ↓
    </a>

</section>
</body>

</html>